@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.chartWidget{
    padding: 5px;
    z-index: 1;
    color: #cbccd0;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 30px;
    justify-content: space-evenly;
    border: 1px solid #353434;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}
.chartExecution{
    width: 470px;
}